*
# Some workspace settings
!.vscode/c_cpp_properties.json
!.vscode/extensions.json
!.vscode/keybindings.json
!.vscode/settings.json
# External dependencies
!extern/
!extern/**
# Source code
!src/
!src/**
# Auxiliary scripts
!scripts/
!scripts/**
# Others
!readme.md
!license
!.gitignore
!source_me.bash
